* {
    font-family:verdana,sans-serif;
    font-size :14pt;
}
body {
    width :700px;
    margin :20px auto;
    background-image: linear-gradient(rgb(202, 198, 255),rgb(184, 184, 184));
    height: max-content;
    padding: 3rem;
    border-radius: 1rem;
}
html {
    height: 100vh;
    background-image: linear-gradient(rgb(121, 37, 79),rgb(43, 42, 122));
}

img {
    /* border-radius: 50%; */
    margin-right :15px;
}

input {
    border-radius: 1rem;
    padding: .5rem;
    margin: .5rem 0;
    border: none;
    background-color: #5e5e5e;
    color: #f8f8f8;
    font-family:helvetica;
    font-size : 1rem;
  
}

.password {
    margin-top: -5rem;
}

.members {
    color: #e3f0ff;
    list-style-type: none;
    padding: 1rem;
}

.username {
    text-align :left;
    background :rgb(0, 77, 177);
    border-radius: .2rem;
    color :rgb(221, 221, 221);
    font-family:helvetica;
    font-size : 1rem;
    padding :4px;
}

.btn {
    background :rgb(0, 77, 177);
    border-radius: .2rem;
    color :rgb(221, 221, 221);
    font-family:helvetica;
    font-size : 1rem;
    padding :4px;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.btn:hover {
    background :rgb(43, 43, 43);
}

.info {
font-style :italic;
margin :40px 0px;
text-align :center;
}

.center {
    text-align:right;
    background-color: #222222;
    /* blur shadow */
    margin: 1rem;
    padding: 2rem;
    border-radius: 1rem;
}


.center > a {
    
    background-color: rgb(75, 75, 75);
    border-radius: .3rem;
    color: #f8f8f8;
    /* border: 1px solid whitesmoke; */
    padding: .2rem;
    font-size: 0.9rem;
    text-decoration: none;
    cursor: pointer;
    transition: all .1s ease-in-out;
}
.center > a:hover {
    background-color: rgb(0, 38, 88);
}


.subhead {
font-weight:bold;
}
.taken, .error {
    color:red;
}
.available {
    color:green;
}
.whisper {
    font-style:italic;
    color :#006600;
}
#logo {
    font-family:Georgia;
    font-weight:bold;
    font-style :italic;
    font-size :97px;
    color :rgb(53, 53, 53);
}
#robin {
    position :relative;
    border :0px;
    margin:-3.5rem;
    top :17px;
        -moz-box-shadow :0px 0px 0px;
        -webkit-box-shadow:0px 0px 0px;
        box-shadow :0px 0px 0px;
}
#used {
    margin-top:50px;
}

